-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: mess_management
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `is_active` bit(1) DEFAULT NULL,
  `admin_id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('ADMIN','SUPER_ADMIN') NOT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `UK47bvqemyk6vlm0w7crc3opdd4` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `is_valid` bit(1) DEFAULT NULL,
  `scan_date` date NOT NULL,
  `attendance_id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `customer_id` bigint NOT NULL,
  `scan_time` datetime(6) NOT NULL,
  `scanned_by_vendor_id` bigint NOT NULL,
  `subscription_id` bigint NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `machine_id` varchar(50) DEFAULT NULL,
  `meal_type` enum('BREAKFAST','DINNER','LUNCH','SNACKS') NOT NULL,
  PRIMARY KEY (`attendance_id`),
  UNIQUE KEY `UK9ib5mjc32p3hrwnmme17sesu0` (`customer_id`,`meal_type`,`scan_date`),
  KEY `FKm71mbyu0e01hlgow2ehllj77x` (`scanned_by_vendor_id`),
  KEY `FK7go8nl283s6q2abwfy0shworp` (`subscription_id`),
  CONSTRAINT `FK7go8nl283s6q2abwfy0shworp` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`subscription_id`),
  CONSTRAINT `FKm71mbyu0e01hlgow2ehllj77x` FOREIGN KEY (`scanned_by_vendor_id`) REFERENCES `vendors` (`vendor_id`),
  CONSTRAINT `FKothw7tcf6w9dg0td7x28s45gy` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `is_active` bit(1) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `customer_id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `phone` varchar(15) NOT NULL,
  `email` varchar(100) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `profile_image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `UKm3iom37efaxd5eucmxjqqcbe9` (`phone`),
  UNIQUE KEY `UKrfbvkrffamfql7cjmen8v976v` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (_binary '','2026-04-14 13:25:52.980889',1,'2026-04-14 13:25:52.980889','1122334455','Datta@gmail.com','Datta','$2a$10$zbnRFyCM1xftcymvmmaKyOtfEmAC/IxDSqOsH9Vv98baKhTDeKAsC',NULL);
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_menu`
--

DROP TABLE IF EXISTS `daily_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_menu` (
  `is_available` bit(1) DEFAULT NULL,
  `menu_date` date NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by_vendor_id` bigint NOT NULL,
  `menu_id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `description` text,
  `items` json NOT NULL,
  `meal_type` enum('BREAKFAST','DINNER','LUNCH','SNACKS') NOT NULL,
  PRIMARY KEY (`menu_id`),
  UNIQUE KEY `UKo43lxuqsx8rvtuklxvr1f0hpw` (`menu_date`,`meal_type`),
  KEY `FKkwj2al982cue5e1202p3k3dul` (`created_by_vendor_id`),
  CONSTRAINT `FKkwj2al982cue5e1202p3k3dul` FOREIGN KEY (`created_by_vendor_id`) REFERENCES `vendors` (`vendor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_menu`
--

LOCK TABLES `daily_menu` WRITE;
/*!40000 ALTER TABLE `daily_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal_plans`
--

DROP TABLE IF EXISTS `meal_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meal_plans` (
  `discount_percentage` decimal(5,2) DEFAULT NULL,
  `duration_days` int NOT NULL,
  `final_price` decimal(10,2) NOT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `plan_id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `plan_name` varchar(100) NOT NULL,
  `description` text,
  `meals_included` json NOT NULL,
  `plan_type` enum('DAILY','MONTHLY','SEMESTER','WEEKLY') NOT NULL,
  PRIMARY KEY (`plan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal_plans`
--

LOCK TABLES `meal_plans` WRITE;
/*!40000 ALTER TABLE `meal_plans` DISABLE KEYS */;
INSERT INTO `meal_plans` VALUES (0.00,5,234.00,_binary '',234.00,'2026-04-14 13:25:05.069237',1,'2026-04-14 13:25:05.069237','IdliSambhar','','{\"lunch\": false, \"dinner\": false, \"breakfast\": true}','WEEKLY');
/*!40000 ALTER TABLE `meal_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `amount` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `customer_id` bigint NOT NULL,
  `payment_date` datetime(6) DEFAULT NULL,
  `payment_id` bigint NOT NULL AUTO_INCREMENT,
  `subscription_id` bigint NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `payment_gateway` varchar(50) DEFAULT NULL,
  `gateway_payment_id` varchar(100) DEFAULT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `payment_method` enum('CARD','CASH','NET_BANKING','UPI','WALLET') NOT NULL,
  `status` enum('FAILED','PENDING','REFUNDED','SUCCESS') NOT NULL,
  PRIMARY KEY (`payment_id`),
  UNIQUE KEY `UKlryndveuwa4k5qthti0pkmtlx` (`transaction_id`),
  KEY `FK45dp0030s8e3myd8n6ky4e79g` (`customer_id`),
  KEY `FKa3xnf2o6mt8cqbewvq2ouq3rq` (`subscription_id`),
  CONSTRAINT `FK45dp0030s8e3myd8n6ky4e79g` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`),
  CONSTRAINT `FKa3xnf2o6mt8cqbewvq2ouq3rq` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`subscription_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions` (
  `end_date` date NOT NULL,
  `is_approved` bit(1) DEFAULT NULL,
  `start_date` date NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `approved_at` datetime(6) DEFAULT NULL,
  `approved_by_vendor_id` bigint DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `customer_id` bigint NOT NULL,
  `payment_date` datetime(6) DEFAULT NULL,
  `plan_id` bigint NOT NULL,
  `subscription_id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `vendor_id` bigint NOT NULL,
  `payment_id` varchar(255) DEFAULT NULL,
  `payment_order_id` varchar(255) DEFAULT NULL,
  `qr_code` varchar(255) DEFAULT NULL,
  `rejection_reason` text,
  `status` enum('ACTIVE','CANCELLED','EXPIRED','PENDING','REJECTED') NOT NULL,
  PRIMARY KEY (`subscription_id`),
  UNIQUE KEY `UKf4b5op5y7b34axrlog5nvp1tj` (`qr_code`),
  KEY `FKa2nf4wcqd4ha5n54qqrer0uxb` (`customer_id`),
  KEY `FKrjm3fc1gs11h3kqqymvqo17er` (`plan_id`),
  KEY `FKavsec60l6maarncgtqk6exaxj` (`vendor_id`),
  CONSTRAINT `FKa2nf4wcqd4ha5n54qqrer0uxb` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`),
  CONSTRAINT `FKavsec60l6maarncgtqk6exaxj` FOREIGN KEY (`vendor_id`) REFERENCES `vendors` (`vendor_id`),
  CONSTRAINT `FKrjm3fc1gs11h3kqqymvqo17er` FOREIGN KEY (`plan_id`) REFERENCES `meal_plans` (`plan_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions`
--

LOCK TABLES `subscriptions` WRITE;
/*!40000 ALTER TABLE `subscriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `created_at` datetime(6) NOT NULL,
  `setting_id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `setting_key` varchar(100) NOT NULL,
  `description` text,
  `setting_value` text NOT NULL,
  PRIMARY KEY (`setting_id`),
  UNIQUE KEY `UKnm18l4pyovtvd8y3b3x0l2y64` (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_active_subscriptions`
--

DROP TABLE IF EXISTS `v_active_subscriptions`;
/*!50001 DROP VIEW IF EXISTS `v_active_subscriptions`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_active_subscriptions` AS SELECT 
 1 AS `subscription_id`,
 1 AS `qr_code`,
 1 AS `customer_id`,
 1 AS `full_name`,
 1 AS `email`,
 1 AS `phone`,
 1 AS `plan_name`,
 1 AS `start_date`,
 1 AS `end_date`,
 1 AS `days_left`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_payment_summary`
--

DROP TABLE IF EXISTS `v_payment_summary`;
/*!50001 DROP VIEW IF EXISTS `v_payment_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_payment_summary` AS SELECT 
 1 AS `customer_id`,
 1 AS `full_name`,
 1 AS `email`,
 1 AS `total_payments`,
 1 AS `total_paid`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_todays_attendance`
--

DROP TABLE IF EXISTS `v_todays_attendance`;
/*!50001 DROP VIEW IF EXISTS `v_todays_attendance`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_todays_attendance` AS SELECT 
 1 AS `is_valid`,
 1 AS `scan_date`,
 1 AS `attendance_id`,
 1 AS `created_at`,
 1 AS `customer_id`,
 1 AS `scan_time`,
 1 AS `scanned_by_vendor_id`,
 1 AS `subscription_id`,
 1 AS `updated_at`,
 1 AS `machine_id`,
 1 AS `meal_type`,
 1 AS `full_name`,
 1 AS `email`,
 1 AS `mess_name`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_todays_menu`
--

DROP TABLE IF EXISTS `v_todays_menu`;
/*!50001 DROP VIEW IF EXISTS `v_todays_menu`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_todays_menu` AS SELECT 
 1 AS `is_available`,
 1 AS `menu_date`,
 1 AS `created_at`,
 1 AS `created_by_vendor_id`,
 1 AS `menu_id`,
 1 AS `updated_at`,
 1 AS `description`,
 1 AS `items`,
 1 AS `meal_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendors` (
  `is_active` bit(1) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `vendor_id` bigint NOT NULL AUTO_INCREMENT,
  `phone` varchar(15) NOT NULL,
  `machine_id` varchar(50) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `mess_name` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  PRIMARY KEY (`vendor_id`),
  UNIQUE KEY `UK8xmc0rpdougqaftbgr1s2tolo` (`email`),
  UNIQUE KEY `UKo8s9u4yobuk3uo5r9x1utui06` (`machine_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
INSERT INTO `vendors` VALUES (_binary '','2026-04-14 13:24:16.000000','2026-04-14 13:24:41.390672','2026-04-14 13:24:41.446656',1,'9999999999',NULL,'vendor@mess.com','Vendor Manager','Main Mess','$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi');
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `v_active_subscriptions`
--

/*!50001 DROP VIEW IF EXISTS `v_active_subscriptions`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_active_subscriptions` AS select `s`.`subscription_id` AS `subscription_id`,`s`.`qr_code` AS `qr_code`,`c`.`customer_id` AS `customer_id`,`c`.`full_name` AS `full_name`,`c`.`email` AS `email`,`c`.`phone` AS `phone`,`mp`.`plan_name` AS `plan_name`,`s`.`start_date` AS `start_date`,`s`.`end_date` AS `end_date`,(to_days(`s`.`end_date`) - to_days(curdate())) AS `days_left` from ((`subscriptions` `s` join `customers` `c` on((`s`.`customer_id` = `c`.`customer_id`))) join `meal_plans` `mp` on((`s`.`plan_id` = `mp`.`plan_id`))) where ((`s`.`status` = 'active') and (`s`.`end_date` >= curdate())) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_payment_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_payment_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_payment_summary` AS select `c`.`customer_id` AS `customer_id`,`c`.`full_name` AS `full_name`,`c`.`email` AS `email`,count(`p`.`payment_id`) AS `total_payments`,sum((case when (`p`.`status` = 'success') then `p`.`amount` else 0 end)) AS `total_paid` from (`customers` `c` left join `payments` `p` on((`c`.`customer_id` = `p`.`customer_id`))) group by `c`.`customer_id`,`c`.`full_name`,`c`.`email` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_todays_attendance`
--

/*!50001 DROP VIEW IF EXISTS `v_todays_attendance`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_todays_attendance` AS select `a`.`is_valid` AS `is_valid`,`a`.`scan_date` AS `scan_date`,`a`.`attendance_id` AS `attendance_id`,`a`.`created_at` AS `created_at`,`a`.`customer_id` AS `customer_id`,`a`.`scan_time` AS `scan_time`,`a`.`scanned_by_vendor_id` AS `scanned_by_vendor_id`,`a`.`subscription_id` AS `subscription_id`,`a`.`updated_at` AS `updated_at`,`a`.`machine_id` AS `machine_id`,`a`.`meal_type` AS `meal_type`,`c`.`full_name` AS `full_name`,`c`.`email` AS `email`,`v`.`mess_name` AS `mess_name` from ((`attendance` `a` join `customers` `c` on((`a`.`customer_id` = `c`.`customer_id`))) join `vendors` `v` on((`a`.`scanned_by_vendor_id` = `v`.`vendor_id`))) where (`a`.`scan_date` = curdate()) order by `a`.`scan_time` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_todays_menu`
--

/*!50001 DROP VIEW IF EXISTS `v_todays_menu`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_todays_menu` AS select `daily_menu`.`is_available` AS `is_available`,`daily_menu`.`menu_date` AS `menu_date`,`daily_menu`.`created_at` AS `created_at`,`daily_menu`.`created_by_vendor_id` AS `created_by_vendor_id`,`daily_menu`.`menu_id` AS `menu_id`,`daily_menu`.`updated_at` AS `updated_at`,`daily_menu`.`description` AS `description`,`daily_menu`.`items` AS `items`,`daily_menu`.`meal_type` AS `meal_type` from `daily_menu` where ((`daily_menu`.`menu_date` = curdate()) and (`daily_menu`.`is_available` = true)) order by field(`daily_menu`.`meal_type`,'breakfast','lunch','dinner','snacks') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14 16:21:10
